<h1 class="text-center mt-3 mb-5">Medicinas registradas</h1>
<div class="container">
<div class="filtro" *ngIf="filterOptionSelected.option== 'name'">
    <input type="text" pInputText [(ngModel)]="nameFilter"  />   
</div>
<div class="filtro" *ngIf="filterOptionSelected.option== 'laboratory'">
   <p-dropdown [options]="laboratories" name="laboratory" [(ngModel)]="selectedLaboratory" optionLabel="laboratoryName"></p-dropdown>
</div>
<div class="filtro" *ngIf="filterOptionSelected.option== 'id'">
    <p-inputNumber [(ngModel)]="idFilter" inputId="integeronly" ></p-inputNumber>   
</div>
<div class="input mb-3">
   <p-dropdown [options]="filterOptions" [(ngModel)]="filterOptionSelected" placeholder="Selecciona un filtro" [editable]="true" optionLabel="title"></p-dropdown>
</div>
<ng-template [ngIf]="filterOptionSelected.option == 'id'">
    <p-button icon="pi pi-filter-fill" (click)="filterById(idFilter)" class="filtro-button" label="Filtrar"></p-button>
</ng-template>
<ng-template [ngIf]="filterOptionSelected.option == 'laboratory'">
    <p-button icon="pi pi-filter-fill" (click)="filterByLaboratory(selectedLaboratory.id)" class="filtro-button" label="Filtrar"></p-button>
</ng-template>
<ng-template [ngIf]="filterOptionSelected.option == 'name'">
    <p-button icon="pi pi-filter-fill" (click)="filterByName(nameFilter)" class="filtro-button" label="Filtrar"></p-button>
</ng-template>
<p-button *ngIf="removeFilterVisible" icon="pi pi-filter-slash" (click)="removeFilter()" label="Remover filtro" class="remover-filtro-boton"  styleClass="p-button-danger"></p-button>
<div class="card">
    <p-table [columns]="cols" [paginator]="true" 
    [rows]="2" [value]="determineValue()" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <p *ngIf="col.field=='dueDate'|| col.field=='fabricationDate'">{{ rowData[col.field] |date:'dd/MM/YYYY' }}</p>
                    <p *ngIf="col.field!='dueDate' && col.field!='fabricationDate'">{{ rowData[col.field]}}</p>
                    <p-button *ngIf="col.field=='eliminar'" label="Eliminar" icon="pi pi-trash" (click)="deleteMedicine(rowData['id'])" styleClass="p-button-danger"></p-button>
                    <p-button *ngIf="col.field=='editar'"label="Editar" icon="pi pi-pencil" (click)="updateMedicine(rowData['id'])" styleClass="p-button-info"></p-button>
                    <p-button *ngIf="col.field=='vender'"label="Vender" icon="pi pi-dollar" (click)="saleSelectedMedicine(rowData['id'])"styleClass="p-button-warning"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<button pButton pRipple label="Crear nuevo" icon="pi pi-plus" class="p-button-success mt-3" (click)="createMedicine()"></button>
<p-dialog header="Realizar venta {{medicineForSale.name}}" [(visible)]="visible" [style]="{width: '50vw'}">
    <form (ngSubmit)="makeSale()">
        <div class="mb-3">
            <label for="stock" class="form-label">Cantidad venta: </label>
            <div class="input">
                <p-inputNumber [(ngModel)]="sale.stockSale" (ngModelChange)="updateTotalValue()" name="stock-sale" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="medicineForSale.stock"> </p-inputNumber>
            </div>
        </div>
        <div class="mb-3">
            <label for="stock" class="form-label">Valor unitario:</label>
            <div class="input">
                <p-inputNumber [(ngModel)]="medicineForSale.unitValue" name="unit-value" mode="currency" inputId="currency-colombia" currency="COP" locale="en-US" [disabled]="true"> </p-inputNumber>
            </div>
        </div>
        <div class="mb-3">
            <label for="stock" class="form-label">Valor Total:</label>
            <div class="input">
                <p-inputNumber [(ngModel)]="sale.totalValue" name="total-value" mode="currency" inputId="currency-colombia" currency="COP" locale="en-US" [disabled]="true"> </p-inputNumber>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Vender</button>
      </form>
</p-dialog>
</div>
