<h1 class="text-center mb-5 mt-5">Ventas realizadas</h1>
<div class="container">
<div class="mb-3">
    <p-calendar class="filter" name="initial-date" [(ngModel)]="initialDate" [showIcon]="true"></p-calendar>
    <p-calendar class="filter" name="final-date" [(ngModel)]="finalDate" [showIcon]="true"></p-calendar>
    <p-button  class="filter" icon="pi pi-filter-fill" (click)="filterByDateRange()" label="Filtrar" styleClass="p-button-raised"></p-button>
    <div class="button-remove-filter">
        <p-button *ngIf="removeFilterVisible" icon="pi pi-filter-slash" (click)="removeFilter()" label="Remover filtro" class="remover-filtro-boton"  styleClass="p-button-danger"></p-button>
    </div>
</div>   
<div class="card">
    <p-table [columns]="cols" [paginator]="true" 
    [rows]="4" [value]="sales" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <p *ngIf="col.field=='creationDate'">{{ rowData[col.field] |date:'dd/MM/YYYY hh:mm a' }}</p>
                    <p *ngIf="col.field!='creationDate'">{{ rowData[col.field]}}</p>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
</div>